.image {
  Float: left;
  text-indent: 200px;
}
  h1 {
    color: pink;
    }
h2 {
  color: pink;
  }
html {
  background-image: url('../images/backgroundimage4.jpg');
}
.button {
  text-indent: 550px;
}
h3 {
  color: pink;
}
.images {
  float: left;
}
.link {
  color: white;
  font-size: 18px;
  text-indent: 100px;
}
