.image {
  Float: left;
  text-indent: 200px;
}
  h1 {
    color: pink;
    }
h2 {
  color: pink;
  }
html {
  background-image: url(/home/abigail/Documents/Moringaschoolprojects/WeektwoIP/images/backgroundimage4.jpg);
}
.button {
  text-indent: 550px;
}
h3 {
  color: purple;
}
.images {
  float: left;
}
