.image {
  Float: left;
  text-indent: 200px;
}
  h1 {
    color: pink;
    }
h2 {
  color: pink;
  }
html {
  background-color: grey;
  }
.button {
  text-indent: 550px;
}
h3 {
  color: pink;
}
.images {
  float: left;
  margin: 30px;
  border: 10px purple;
  padding: 10px;
  background color: pink;
}
.link {
  color: white;
  font-size: 18px;
  text-indent: 100px;
}
@media screen and (min-width: 480px) {
  body {
        background-color: grey;
        }
}
