.image {
  Float: left;

}
  h1 {
    color: pink;
    }
h2 {
  color: pink;
  }
html {
  background-image: url(/home/abigail/Documents/Moringaschoolprojects/WeektwoIP/images/backgroundimage3.jpg);

}
